
ion-content ion-progress-bar {
    margin-left: 10px 0;
    margin-right: 10px 0;
    margin-bottom: 10px 0;
  }
ion-item ion-progress-bar{
    margin-left: 10px 0;
    margin-right: 10px 0;
    margin-bottom: 10px 0;
    orientation: inline;
        background: var(--ion-color-red);
        color: var(--ion-color-red-contrast);

}
.input-wrapper{
    margin: 0px;
    padding: 0px;
}
.title{
    text-align: center;
    margin: 0px;
    padding: 3px;
}